## Raise a GraphQL field error in case of a datasource invocation error
#if($ctx.error)
    $util.error("No seats left....", $ctx.error.message, $ctx.error.type)
#end
## Pass back the result from DynamoDB. **
$util.toJson($ctx.result)